

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: inherit;
  position: relative;
}

*{
  scroll-behavior: smooth;
}

body {
  font-family: 'Julius Sans One', sans-serif;
  background-color: var(--white-0);
  color: var(--black-0);
/* background: #A1FFCE;  /1* fallback for old browsers *1/ */
/* background: -webkit-linear-gradient(to right, #FAFFD1, #f7f9f9);  /1* Chrome 10-25, Safari 5.1-6 *1/ */
/* background: linear-gradient(to right, #FAFFD1, #f7f9f9); /1* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *1/ */

/* background: linear-gradient(to right, #A1FFCE, var(--primary-1) ); */

/* /1* background: #ECE9E6;  /2* fallback for old browsers *2/ *1/ */
/* background: -webkit-linear-gradient(to left, #FFFFFF, #ECE9E6);  /1* Chrome 10-25, Safari 5.1-6 *1/ */
/* background: linear-gradient(to left, #FFFFFF, #ECE9E6); /1* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *1/ */

}

/*--------------------------------------------------
                      HEADER
--------------------------------------------------*/

/*
 * top nav
 */
.top-nav-container{
  width:100%;
  height:0;
  z-index: 69;
}
.top-nav-container nav ul{
  display:none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  list-style: none;
}
.top-nav-container nav .logo {
  margin: 0;
  font-size: 1.45em;
}
.top-nav-container nav .logo a,
.top-nav-container nav li a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  cursor:pointer;
  display: block;
}

.top-nav-container nav a {
  color: var(--white-1);
  font-size: .99em;
  font-weight:700;
  text-decoration: none;
}

.top-nav-container nav a:hover {
  color: var(--primary-2);
  color: var(--green-1);
  color: var(--green-3);
}

.top-nav-container nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;

  padding-top: .5em;
  padding-bottom: .5em;
  /* -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75); */
  /* -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75); */
  /* box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75); */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.top-nav-container nav .nav-block{
  display: flex;
  justify-content: flex-end;
  align-items:center;
}

/*
 * burger
 */
.burger-hitbox{
  height:100%;
  display: flex;
  align-items:center;
  cursor: pointer;
  overflow:hidden;
}

.burger{
  display: flex;
  border: none;
  outline: none;
  margin-left: 15px;
  margin-right: 15px;
  width: 22px;
  height: 18px;
  /* yes. */
  position:relative;
  top: -1px;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.burger span{
  width:100%;
  height: 2px;
  background-color: white;
}
.burger span:nth-child(3){
  width:60%;
}
.burger-hitbox:hover span:nth-child(2) {
  transform: translate(10px);
}


@media (min-width: 420px) {
  .top-nav-container nav ul{
    display:flex;
  }
  .burger{
    display:none;
  }

}

/*--------------------------------------------------
                      HERO
--------------------------------------------------*/

.hero {
  background-color: #171717;
  background-image: linear-gradient(270deg,var(--green-1),var(--green-2));
  width: 100%;
  height: 100vh;
  max-height: 600px;
  overflow: hidden;
  color: #e3dac9;
  color: var(--white-1);
}
.hero video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero .particles{
  width: 100%;
  height: 100%;
}
.hero .hero-content {
  z-index: 3;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction:column;
  justify-content: center;
  text-align: center;
  /* background-color: rgba(0,0,0,0.7); */
  background-color: rgba(0,0,0,0.2);
    background-image: url("../resources/noise2-3.png");
  background-repeat: repeat;
}
.hero .hero-content img{
  height: 180px;
  width:auto;
}

.hero .hero-content h1 {
  font-size: 4vw;
  text-transform: uppercase;
  word-spacing: 1vw;
  letter-spacing: 0.25rem;
}
@media (max-height: 520px) {
  .hero .hero-content img{
    display:none;
  }
  .hero .hero-content h1 {
    margin-top:60px;
  }
}
.hero .hero-content p {
  margin: 20px;
  margin-top: 10px;
  font-size: 1.5rem;
  /* color: var(--primary-2); */
}
.hero .hero-content button {
  cursor:pointer;
  margin: 20px;
  background-color:transparent;
  padding:20px;
  font-family: 'Julius Sans One', sans-serif;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4);
  font-weight:700;
  
  font-size: 1rem;
  color: white;
  outline:none;
  /* background-image: linear-gradient(270deg,var(--green-1),var(--green-2)); */
}



/*--------------------------------------------------
                      TRANSITION
--------------------------------------------------*/
.transition{
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 20;
}
.dark-bar{
  width: 100%;
  height: 0px;
  background-color: #010406;
}
.transition img{
  pointer-events:none;
  width:auto;
  height:430px;
  position:relative;
  top: -430px;
}
.transition .shape{
  pointer-events:none;
  background-color: var(--white-0);
  width: 850px;
  height: 430px;
  position:relative;
  top: -430px;
/* TODO: create a god loking clip of a chart */
-webkit-clip-path: polygon(0% 100%, 3% 97%, 4% 98%, 8% 94%, 11% 96%, 12% 92%, 14% 97%, 16% 93%, 18% 99%, 21% 90%, 23% 85%, 26% 96%, 28% 91%, 30% 88%, 32% 96%, 34% 91%, 36% 97%, 40% 85%, 42% 91%, 44% 87%, 46% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 86%, 57% 75%, 60% 89%, 64% 90%, 67% 74%, 69% 87%, 70% 91%, 72% 86%, 75% 71%, 77% 86%, 79% 74%, 81% 80%, 83% 73%, 84% 63%, 86% 56%, 87% 47%, 89% 64%, 91% 71%, 93% 57%, 95% 50%, 97% 58%, 98% 67%, 100% 42%, 100% 100%);
clip-path: polygon(0% 100%, 3% 97%, 4% 98%, 8% 94%, 11% 96%, 12% 92%, 14% 97%, 16% 93%, 18% 99%, 21% 90%, 23% 85%, 26% 96%, 28% 91%, 30% 88%, 32% 96%, 34% 91%, 36% 97%, 40% 85%, 42% 91%, 44% 87%, 46% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 86%, 57% 75%, 60% 89%, 64% 90%, 67% 74%, 69% 87%, 70% 91%, 72% 86%, 75% 71%, 77% 86%, 79% 74%, 81% 80%, 83% 73%, 84% 63%, 86% 56%, 87% 47%, 89% 64%, 91% 71%, 93% 57%, 95% 50%, 97% 58%, 98% 67%, 100% 42%, 100% 100%);
animation: chart 20s alternate infinite;
}

@keyframes chart {
15%{
  -webkit-clip-path: polygon(0% 100%, 3% 97%, 4% 98%, 8% 94%, 11% 96%, 12% 92%, 14% 97%, 16% 93%, 18% 99%, 21% 90%, 23% 95%, 26% 96%, 28% 91%, 30% 88%, 32% 96%, 34% 91%, 36% 97%, 39% 90%, 42% 91%, 44% 87%, 46% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 86%, 57% 75%, 60% 89%, 64% 90%, 67% 74%, 69% 87%, 70% 91%, 72% 86%, 75% 79%, 77% 83%, 79% 67%, 81% 80%, 83% 73%, 84% 63%, 86% 56%, 87% 47%, 89% 64%, 91% 71%, 93% 57%, 95% 50%, 97% 58%, 98% 63%, 100% 42%, 100% 100%);
clip-path: polygon(0% 100%, 3% 97%, 4% 98%, 8% 94%, 11% 96%, 12% 92%, 14% 97%, 16% 93%, 18% 99%, 21% 90%, 23% 95%, 26% 96%, 28% 91%, 30% 88%, 32% 96%, 34% 91%, 36% 97%, 39% 90%, 42% 91%, 44% 87%, 46% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 86%, 57% 75%, 60% 89%, 64% 90%, 67% 74%, 69% 87%, 70% 91%, 72% 86%, 75% 79%, 77% 83%, 79% 67%, 81% 80%, 83% 73%, 84% 63%, 86% 56%, 87% 47%, 89% 64%, 91% 71%, 93% 57%, 95% 50%, 97% 58%, 98% 63%, 100% 42%, 100% 100%);
}
30%{
  -webkit-clip-path: polygon(0% 100%, 3% 97%, 4% 98%, 8% 94%, 11% 96%, 12% 92%, 14% 97%, 16% 93%, 18% 99%, 21% 90%, 23% 95%, 26% 96%, 28% 91%, 30% 88%, 32% 96%, 34% 91%, 36% 97%, 39% 90%, 42% 91%, 44% 87%, 46% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 86%, 57% 83%, 60% 84%, 64% 89%, 67% 80%, 69% 87%, 70% 91%, 72% 86%, 75% 79%, 77% 83%, 80% 73%, 82% 78%, 83% 73%, 84% 63%, 85% 58%, 87% 53%, 90% 62%, 91% 67%, 93% 57%, 95% 50%, 97% 57%, 98% 50%, 100% 42%, 100% 100%);
clip-path: polygon(0% 100%, 3% 97%, 4% 98%, 8% 94%, 11% 96%, 12% 92%, 14% 97%, 16% 93%, 18% 99%, 21% 90%, 23% 95%, 26% 96%, 28% 91%, 30% 88%, 32% 96%, 34% 91%, 36% 97%, 39% 90%, 42% 91%, 44% 87%, 46% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 86%, 57% 83%, 60% 84%, 64% 89%, 67% 80%, 69% 87%, 70% 91%, 72% 86%, 75% 79%, 77% 83%, 80% 73%, 82% 78%, 83% 73%, 84% 63%, 85% 58%, 87% 53%, 90% 62%, 91% 67%, 93% 57%, 95% 50%, 97% 57%, 98% 50%, 100% 42%, 100% 100%);
}
45%{
  -webkit-clip-path: polygon(0% 100%, 3% 97%, 6% 96%, 8% 86%, 10% 95%, 12% 92%, 14% 96%, 16% 93%, 19% 96%, 21% 90%, 23% 95%, 26% 96%, 29% 93%, 30% 86%, 32% 96%, 34% 91%, 36% 97%, 39% 90%, 42% 91%, 44% 87%, 46% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 86%, 57% 83%, 60% 84%, 64% 89%, 66% 82%, 69% 87%, 70% 91%, 72% 86%, 75% 79%, 77% 83%, 80% 73%, 82% 78%, 83% 73%, 84% 64%, 85% 58%, 87% 53%, 89% 62%, 91% 79%, 92% 66%, 94% 58%, 96% 63%, 98% 57%, 100% 49%, 100% 100%);
clip-path: polygon(0% 100%, 3% 97%, 6% 96%, 8% 86%, 10% 95%, 12% 92%, 14% 96%, 16% 93%, 19% 96%, 21% 90%, 23% 95%, 26% 96%, 29% 93%, 30% 86%, 32% 96%, 34% 91%, 36% 97%, 39% 90%, 42% 91%, 44% 87%, 46% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 86%, 57% 83%, 60% 84%, 64% 89%, 66% 82%, 69% 87%, 70% 91%, 72% 86%, 75% 79%, 77% 83%, 80% 73%, 82% 78%, 83% 73%, 84% 64%, 85% 58%, 87% 53%, 89% 62%, 91% 79%, 92% 66%, 94% 58%, 96% 63%, 98% 57%, 100% 49%, 100% 100%);
}
60%{
  -webkit-clip-path: polygon(0% 100%, 3% 97%, 6% 96%, 8% 94%, 11% 88%, 12% 92%, 14% 96%, 16% 93%, 19% 96%, 21% 90%, 23% 95%, 26% 97%, 29% 93%, 30% 90%, 32% 96%, 34% 91%, 36% 97%, 39% 90%, 42% 91%, 43% 87%, 45% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 90%, 57% 83%, 60% 92%, 64% 89%, 66% 82%, 69% 87%, 70% 91%, 72% 86%, 75% 79%, 77% 83%, 80% 73%, 82% 78%, 83% 73%, 84% 84%, 85% 91%, 87% 85%, 89% 89%, 91% 79%, 92% 66%, 94% 58%, 97% 68%, 98% 57%, 100% 49%, 100% 100%);
clip-path: polygon(0% 100%, 3% 97%, 6% 96%, 8% 94%, 11% 88%, 12% 92%, 14% 96%, 16% 93%, 19% 96%, 21% 90%, 23% 95%, 26% 97%, 29% 93%, 30% 90%, 32% 96%, 34% 91%, 36% 97%, 39% 90%, 42% 91%, 43% 87%, 45% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 90%, 57% 83%, 60% 92%, 64% 89%, 66% 82%, 69% 87%, 70% 91%, 72% 86%, 75% 79%, 77% 83%, 80% 73%, 82% 78%, 83% 73%, 84% 84%, 85% 91%, 87% 85%, 89% 89%, 91% 79%, 92% 66%, 94% 58%, 97% 68%, 98% 57%, 100% 49%, 100% 100%);
}
75%{
  -webkit-clip-path: polygon(0% 100%, 3% 97%, 6% 96%, 8% 94%, 10% 100%, 12% 96%, 14% 96%, 16% 93%, 19% 96%, 21% 90%, 23% 95%, 26% 97%, 29% 93%, 30% 90%, 32% 96%, 34% 93%, 36% 97%, 39% 90%, 42% 91%, 43% 87%, 45% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 90%, 57% 83%, 60% 92%, 64% 89%, 66% 82%, 69% 87%, 70% 91%, 72% 86%, 75% 79%, 77% 83%, 80% 73%, 82% 78%, 83% 74%, 84% 70%, 85% 63%, 88% 48%, 89% 54%, 91% 58%, 92% 66%, 94% 58%, 97% 68%, 98% 57%, 100% 68%, 100% 100%);
clip-path: polygon(0% 100%, 3% 97%, 6% 96%, 8% 94%, 10% 100%, 12% 96%, 14% 96%, 16% 93%, 19% 96%, 21% 90%, 23% 95%, 26% 97%, 29% 93%, 30% 90%, 32% 96%, 34% 93%, 36% 97%, 39% 90%, 42% 91%, 43% 87%, 45% 94%, 47% 99%, 48% 92%, 50% 93%, 51% 87%, 53% 95%, 55% 90%, 57% 83%, 60% 92%, 64% 89%, 66% 82%, 69% 87%, 70% 91%, 72% 86%, 75% 79%, 77% 83%, 80% 73%, 82% 78%, 83% 74%, 84% 70%, 85% 63%, 88% 48%, 89% 54%, 91% 58%, 92% 66%, 94% 58%, 97% 68%, 98% 57%, 100% 68%, 100% 100%);
}
90%{
  -webkit-clip-path: polygon(0% 100%, 3% 97%, 6% 96%, 8% 94%, 10% 100%, 12% 96%, 14% 96%, 16% 93%, 19% 96%, 21% 90%, 23% 95%, 26% 97%, 29% 93%, 30% 100%, 32% 96%, 34% 93%, 36% 97%, 39% 90%, 42% 91%, 43% 87%, 45% 94%, 47% 97%, 48% 92%, 50% 93%, 51% 87%, 53% 81%, 55% 90%, 57% 83%, 61% 81%, 64% 86%, 66% 82%, 69% 87%, 71% 78%, 72% 82%, 75% 79%, 77% 83%, 80% 73%, 82% 78%, 83% 74%, 84% 70%, 85% 63%, 87% 46%, 89% 54%, 91% 58%, 92% 66%, 94% 58%, 96% 63%, 98% 57%, 100% 43%, 100% 100%);
clip-path: polygon(0% 100%, 3% 97%, 6% 96%, 8% 94%, 10% 100%, 12% 96%, 14% 96%, 16% 93%, 19% 96%, 21% 90%, 23% 95%, 26% 97%, 29% 93%, 30% 100%, 32% 96%, 34% 93%, 36% 97%, 39% 90%, 42% 91%, 43% 87%, 45% 94%, 47% 97%, 48% 92%, 50% 93%, 51% 87%, 53% 81%, 55% 90%, 57% 83%, 61% 81%, 64% 86%, 66% 82%, 69% 87%, 71% 78%, 72% 82%, 75% 79%, 77% 83%, 80% 73%, 82% 78%, 83% 74%, 84% 70%, 85% 63%, 87% 46%, 89% 54%, 91% 58%, 92% 66%, 94% 58%, 96% 63%, 98% 57%, 100% 43%, 100% 100%);
}
}

@media screen and (max-width: 705px){
  .transition{
    display:none
  }
}
@media screen and (max-height: 500px){
  .transition{
    display:none
  }
}
/*--------------------------------------------------
                      CONTENT
--------------------------------------------------*/
.container{
      margin: 0 auto;
    max-width: 1280px !important;
    width: 98%;
}
.content{
  padding: 30px;
  margin-top:60px;
}
.content h1{
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight:900;

}
.content p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  margin-top: 30px;
}
.content a{
  color: var(--black-0);
  text-decoration: none;
  background: linear-gradient(transparent 85%, var(--green-3) 0%);
}
.content a:hover{
  background: linear-gradient(transparent 55%, var(--green-3) 0%);
}

#about{
  margin-top: 30px;
}

.presentation{
  padding:30px;
  margin-top:40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.presentation img{
  width: auto;
  height: 150px;
}
.presentation div{
  margin: 30px#e78762;
  padding: 20px;
  box-shadow: 0px 0px 14px 0px rgba(85, 231, 202,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.0);
  width: 300px;
  text-align:center;
}
.presentation p{
  margin-top:10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
}

#get-started{
  /* background-image: url("../resources/paper3.png"); */
  /* background-repeat: repeat; */
}
#get-started .post-img{
  float:right;
  width:auto;
  height:300px;
}


/*--------------------------------------------------
                      MODALS
--------------------------------------------------*/


/*
 * mobile navigation window
 */
.nav-mobile{
  position: fixed;
  top:-5px;
  left:0;
  width:100%;
  height: 105%;
  z-index: 420;
  background-color: #010406;
  background-image: linear-gradient(270deg,var(--green-1),var(--green-2));

  visibility:hidden;
  opacity: 0;
  transition: all 0.4s;

  margin: 0;
  padding: 0;
  margin-top: 5px;
  list-style: none;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.nav-mobile li{
  margin-bottom: 30px;
  transition: all 0.5s;
  transform: translate(200px);
}
/* right now the li elements in the mobile navigation dialog
 * show up with a slight speed offset each, but disappear with the same speed.
 * You can change that, and make them disappear with the same offset as they appear,
 * by uncommenting this block of nth-child selectors, and commenting out the next
 * block of nth-child selectors, around 30 lines down from here
 */
/* .nav-mobile li:nth-child(2){ */
/*   transform: translate(150px); */
/* } */
/* .nav-mobile li:nth-child(3){ */
/*   transform: translate(100px); */
/* } */
/* .nav-mobile li:nth-child(4){ */
/*   transform: translate(50px); */
/* } */
.nav-mobile li a{
  color: var(--white-0);
  text-decoration:none;
  font-size: 2rem;
  cursor:pointer;
}
.nav-mobile li a:hover{
  border-bottom: 2px solid var(--white-1);
}
.nav-mobile li:nth-child(1) a{
  cursor:pointer;
  padding:10px;
}
.nav-mobile li:nth-child(1) a:hover{
  border:0;
}
.nav-mobile li a i{
  font-size: 3.5rem;
}

.nav-mobile.nav-visible{
  visibility:visible;
  opacity: 1;
}

.nav-mobile.nav-visible li{
  transform: translate(0px);
}

.nav-visible li:nth-child(2){
  transition-duration: 0.4s;
}
.nav-visible li:nth-child(3){
  transition-duration: 0.3s;
}
.nav-visible li:nth-child(4){
  transition-duration: 0.2s;
}

/*
 * reddit login window-sidebar
 */
.login-container{
  position: fixed;
  top:-5px;
  left:0;
  width:100%;
  height:105%;
  z-index:430;
  display:flex;
  justify-content: flex-end;
  background-color: rgba(0,0,0,0.5);
  transition: all 0.4s;
  opacity:0;
  backdrop-filter: blur(30px);
  visibility:hidden;
}
.login{
  max-width:400px;
  height:100%;
  z-index: 430;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  background-color: var(--white-0);
  overflow-y:auto;
  transition: all 0.4s;
  transform: translate(400px);
}
.login a.close-login{
  padding:20px;
  cursor:pointer;
}
.login a i{
  font-size: 3rem;
}
.login div{
  padding:20px;
  height:100%;
  margin-top: 30px;
}
.login div.page-2{
  display:none;
}

.login button{
  cursor:pointer;
  margin-top: 20px;
  background-color:transparent;
  padding:15px;
  font-family: Roboto, 'Julius Sans One', sans-serif;
  font-weight:300;
  font-size: 1.2rem;
  color: white;
  outline:none;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.2);
}
.login button:hover{
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.1);
}

.login .reddit-bt{
  background-image: linear-gradient(200deg, #e62a16, #F15646);
}
.login .guest-bt{
  color: var(--black-1);
}

.login .checkbox-container{
  margin-top: 20px;
  font-family: Roboto, 'Julius Sans One', sans-serif;
  font-size: 1.1rem;
}
.checkbox-container input[type="checkbox"]{
  margin-right: 6px;
}
.login p{
  font-family: Roboto, 'Julius Sans One', sans-serif;
  font-size: 1.1rem;
  margin-top:10px;
}
.login .description{
  margin-top: 40px;
  margin-bottom: 40px;
}

.login p a{
  color: var(--black-0);
  text-decoration: none;
  background: linear-gradient(transparent 85%, var(--green-3) 0%);
}
.login p a:hover{
  background: linear-gradient(transparent 55%, var(--green-3) 0%);
}

.login-visible{
  visibility:visible;
  opacity:1;
}
.login-visible .login{
  transform: translate(0px);
}

/*
 * cookie dialog
 */
.cookie-dialog{
  visibility:hidden;
  position:fixed;
  left: 20px;
  bottom:20px;
  padding: 10px 20px 10px 20px;
  height:auto;
  width:auto;
  background-color: var(--white-0);
  z-index: 6969;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.5);
  border-radius: 2px;
}

